@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono');

:root{
	--bg: 	#000;
	--txt:	#fafafa;
}

*{
	margin: 0;
	padding: 0;
}

body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	/*background: var(--bg);*/
	color: var(--txt);
	font-family: 'Roboto Mono', monospace, 'Open Sans', sans-serif;
	transition: color .5s;
	/*transition: background .5s;*/
	/* The image used */
	background-image: url(images/background);
	background-blend-mode: saturation;
	/*background-image: url("images/background");*/
	backdrop-filter: brightness(.8);
	background-attachment: fixed;

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#main_cont{
	height: 150px;
	width: 80%;
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
}

#clock_area{
	font-size: 120px;
}

#link_area{
	width: 80%;
	left: 10%;
	right: 10%;
	position: absolute;
	top: 15%;
}

.linkArea_item {
	background: rgba(5,5,5,0.7);
	font-size: 15px;
	list-style-type: none;
	width: 300px;
	/*visibility: hidden;*/
	margin: 10px 10px;
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
}

.linkArea_item h1{
	background: rgba(5,5,5,0.7);
	text-align: center;
	padding: 10px 0;
	border-radius: 10px 10px 0px 0px;
}

#link_area a{
	color: #fafafa;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	margin: 5px 0;
	padding: 5px 20px;
}

#quote_area{
	text-align:center;
	height: 100px;
	font-size: 20px;
	position: absolute;
	bottom: 0;
  	left: 50%;
  	transform: translate(-50%, -90%);
}

#nameTime{
	width: 800px;
	text-align: center;
	font-size: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#inputQuery{
	background-color: var(--bg);
	border:none;
	text-align: center;
	font-size: 50px;
	padding: 10px;
	width: 85%;
	color: transparent;
	transition: background .5s;
	/*visibility: hidden;*/
}
